<div class="mt-4">
    <h3>Bài đăng của tôi</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên địa chỉ đỏ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {{#each vidu1}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a
                            href="/cac-xa/{{this._id}}/edit"
                            class="btn btn-secondary"
                        >Sửa</a>
                        <a
                            href=""
                            class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-id="{{this._id}}"
                            data-bs-target="#xoabaiviet"
                        >Xoá</a>

                        <!-- Button trigger modal -->

                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="xoabaiviet"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa bài viết</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa bài viết không?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >Hủy</button>
                <button
                    id="btn-delete-baiviet"
                    type="button"
                    class="btn btn-danger"
                >Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form name="delete-form" method="POST"</form>

<script>
    document.addEventListener('DOMContentLoaded', function() { 
        var xoabaivietid;
        var deleteForm = document.forms['delete-form'];
        var btndeletekhoahoc = document.getElementById('btn-delete-baiviet');
    $('#xoabaiviet').on('show.bs.modal', function (event) { var button =
    $(event.relatedTarget); xoabaivietid = button.data('id'); }); 
    btndeletekhoahoc.onclick =function(){ 
        
        deleteForm.action='/cac-xa/' + xoabaivietid + '?_method=DELETE';
        deleteForm.submit();
     } });

</script>